*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: montserrat;
}
:root{
  --black: #111111;
  --red: #e41d1d;
}

::-webkit-scrollbar{
  width: 8px;

}
::-webkit-scrollbar-thumb{
  background: #43AF79;
}
.container{
  padding: 20px 8%;
}
